@charset "utf-8";

/*全局设置*/
* {
	margin: 0;
	padding: 0;
}

/*背景图片*/
body {
	background: url(../images/main_bg2.jpg) no-repeat;
	background-size: cover;
}

/*登录主体区*/
#main {
	width: 350px;
	min-height: 600px;
	background: rgba(0,0,0,0.5);
	margin: 70px auto;	
	border-top:8px solid #0cc;
	position:relative;
}

/*头像区*/
#header_pic {
	width: 198px;
	height: 198px;		
	border-radius: 50%;	
	margin: 50px auto;	
	position: relative;
}

#header_pic .wrapper {
	width: 184px;
	height: 184px;	
	border-radius: 50%;
	position: absolute;
	left: 7px;
	top:7px;
	background: url(../images/liudehua.jpg) no-repeat;
	background-size: cover;
}

/*账号密码区*/
#account {
	width: 75%;
	padding: 5px;	
	margin: 0 auto;	
	font-size:0px;
}

.input {
	height: 45px;
	line-height: 45px;
}

.input input {
	width: calc(100% - 10px);	
	border: none;
	outline: none;
	height: 40px;
	color: #0cc;
	padding: 0 5px;
	font-size: 16px;
	background: rgba(0,0,0,0.5);
}

/*登录按钮*/
.btn1 {
	display: block;
	width: 75%;
	height: 40px;
	margin: 30px auto;
	border: none;
	outline: none;
	background: #00CCCC;	
	color: #ffffff;
	font-size: 16px;	
	cursor: pointer;	
}

.btn1:active {
	position: relative;
	top:2px;
}

/*忘记密码区域*/
#footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid #cccccc;
	position: absolute;
	bottom: 0px;
}

#footer a {
	text-decoration: none;
	color:#999;
	font-size: 14px;
}